{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Online Courses</h2>
    <div class="row">
        {% for course in courses %}
        <div class="col-md-4">
            <div class="card h-100">
                {% if course.cover_image %}
                    <img src="{{ course.cover_image.url }}" class="card-img-top" alt="{{ course.title }}">
                {% endif %}
                <div class="card-body text-center">
                    <h5 class="card-title">{{ course.title }}</h5>
                    <p class="card-text">{{ course.description|truncatewords:20 }}</p>
                    <a href="{% url 'online_course_detail' course.pk %}" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No courses available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
