{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Climate Change Resources</h2>
    <a href="{% url 'climate_change_create' %}" class="btn btn-success mb-3">Add New Resource</a>
<div class="row">
        {% for resource in resources %}
        <div class="col-md-4">
            <div class="card h-100">
                {% if resource.cover_image %}
                    <img src="{{ resource.cover_image.url }}" class="card-img-top" alt="{{ resource.title }}">
                {% endif %}
                <div class="card-body text-center">
                    <h5 class="card-title">{{ resource.title }}</h5>
                    <p class="card-text">{{ resource.description|truncatewords:20 }}</p>
                    <a href="{% url 'climate_change_detail' resource.pk %}" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No resources available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
