{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2 class="text-center">E-Books Collection</h2>
    <div class="row">
        {% for ebook in ebooks %}
        <div class="col-md-4">
            <div class="card h-100">
                {% if ebook.cover_image %}
                    <img src="{{ ebook.cover_image.url }}" class="card-img-top" alt="{{ ebook.title }}">
                {% endif %}
                <div class="card-body text-center">
                    <h5 class="card-title">{{ ebook.title }}</h5>
                    <p class="card-text">{{ ebook.description|truncatewords:20 }}</p>
                    <a href="{% url 'ebook_detail' ebook.pk %}" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No e-books available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
